:root {
    --background-clr: #10464c;
    --second-background-clr: #122931;
    --accent-clr: #366d69;
    --text-clr: #edf6f9;
    --second-text-clr: #94e7f0;
    --darken-text-clr: #d9d9d9;
    --error-clr: #ff4d4d;

    --regular-ff: "Inter";

    --large-fs: 48px;
    --big-fs: 24px;
    --medium-fs: 16px;
    --small-fs: 12px;

    --regular-gap: 16px;

    --regular-br: 4px;
}
